---
import SiteLayout from "../../../layouts/SiteLayout.astro";
---

<SiteLayout title="Pintura comunidades Valencia">
  <h1>Pintura comunidades Valencia</h1>
  <p>Pintura para comunidades de propietarios.</p>
  <a href="/presupuesto/">Presupuesto Gratis</a>
</SiteLayout>
