---
import SiteLayout from "../../../layouts/SiteLayout.astro";
---

<SiteLayout title="Papel pintado Valencia">
  <h1>Papel pintado Valencia</h1>
  <p>Instalación profesional de papel pintado y vinilos.</p>
  <a href="/presupuesto/">Presupuesto Gratis</a>
</SiteLayout>
